In [34]:
import pandas as pd

In [35]:
df=pd.read_csv(r'/...path to csv/cars.csv')

In [36]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [37]:
df.dropna(axis=0,inplace=True)
p_values=[]

In [38]:
from scipy.stats import pearsonr
df1=pd.get_dummies(df['fuel'])
for column in df1:
    p_values.append((column,pearsonr(df1[column],df['selling_price'])[1]))
    print(column,pearsonr(df1[column],df['selling_price']))

CNG (-0.03783908384266269, 0.012668189009190199)
Diesel (0.2829467004105503, 1.0616408786053858e-80)
Electric (-0.0050945039812463865, 0.7372293315326337)
LPG (-0.04243375741960239, 0.005174999817728764)
Petrol (-0.26945301590251997, 4.45486550346218e-73)

In [39]:
print("kms",pearsonr(df['km_driven'],df['selling_price']))
p_values.append(("kms",pearsonr(df['km_driven'],df['selling_price'])[1]))
print("year",pearsonr(df['year'],df['selling_price']))
p_values.append(("year",pearsonr(df['year'],df['selling_price'])[1]))

kms (-0.1922886305451144, 2.0262823832143534e-37)
year (0.4139216798108547, 2.7181942080309432e-179)

In [40]:
df2=pd.get_dummies(df['seller_type'])
for column in df2:
    p_values.append((column,pearsonr(df2[column],df['selling_price'])[1]))
    print(column,pearsonr(df2[column],df['selling_price']))

Dealer (0.20511145858252045, 1.911125654880059e-42)
Individual (-0.23679783763180565, 2.230576994499171e-56)
Trustmark Dealer (0.11017553211440344, 3.3806860018158966e-13)

In [41]:
df3=pd.get_dummies(df['transmission'])
for column in df3:
     p_values.append((column,pearsonr(df3[column],df['selling_price'])[1]))
     print(column,pearsonr(df3[column],df['selling_price']))

Automatic (0.5302051397294348, 2.8157483053e-313)
Manual (-0.5302051397294348, 2.8157483053e-313)

In [44]:
df4=pd.get_dummies(df['owner'])
for column in df4:
    p_values.append((column,pearsonr(df4[column],df['selling_price'])[1]))
    print(column,pearsonr(df4[column],df['selling_price']))

First Owner (0.2238887312720283, 1.9442587505102127e-50)
Fourth & Above Owner (-0.07872455132064078, 2.071148767664006e-07)
Second Owner (-0.1619863225390974, 6.649812807534634e-27)
Test Drive Car (0.04879948416302313, 0.0013006546628275717)
Third Owner (-0.111326353865149, 1.912252320956546e-13)

In [45]:
 p_values

[('CNG', 0.012668189009190199),
 ('Diesel', 1.0616408786053858e-80),
 ('Electric', 0.7372293315326337),
 ('LPG', 0.005174999817728764),
 ('Petrol', 4.45486550346218e-73),
 ('kms', 2.0262823832143534e-37),
 ('year', 2.7181942080309432e-179),
 ('Dealer', 1.911125654880059e-42),
 ('Individual', 2.230576994499171e-56),
 ('Trustmark Dealer', 3.3806860018158966e-13),
 ('Automatic', 2.8157483053e-313),
 ('Manual', 2.8157483053e-313),
 ('First Owner', 1.9442587505102127e-50),
 ('Fourth & Above Owner', 2.071148767664006e-07),
 ('Second Owner', 6.649812807534634e-27),
 ('Test Drive Car', 0.0013006546628275717),
 ('Third Owner', 1.912252320956546e-13)]

In [46]:
p_values.sort(key=lambda tup: tup[1])

In [47]:
p_values

[('Automatic', 2.8157483053e-313),
 ('Manual', 2.8157483053e-313),
 ('year', 2.7181942080309432e-179),
 ('Diesel', 1.0616408786053858e-80),
 ('Petrol', 4.45486550346218e-73),
 ('Individual', 2.230576994499171e-56),
 ('First Owner', 1.9442587505102127e-50),
 ('Dealer', 1.911125654880059e-42),
 ('kms', 2.0262823832143534e-37),
 ('Second Owner', 6.649812807534634e-27),
 ('Third Owner', 1.912252320956546e-13),
 ('Trustmark Dealer', 3.3806860018158966e-13),
 ('Fourth & Above Owner', 2.071148767664006e-07),
 ('Test Drive Car', 0.0013006546628275717),
 ('LPG', 0.005174999817728764),
 ('CNG', 0.012668189009190199),
 ('Electric', 0.7372293315326337)]

For regresssion the fields that we can consider are Automatic, Manual,year, Diesel, Petrol, Individual, First Owner,Dealer,Kilometres

In [48]:
df=df.drop(columns=['name'])

In [49]:
df_final=pd.DataFrame()

In [50]:
df_final['year']=df['year']
df_final['automatic']=df3['Automatic']
df_final['manual']=df3['Manual']
df_final['diesel']=df1['Diesel']
df_final['petrol']=df1['Petrol']
df_final['individual']=df2['Individual']
df_final['dealer']=df2['Dealer']
df_final['first_owner']=df4['First Owner']
df_final['kilometers']=df['km_driven']

In [51]:
df_final.head()

,year,automatic,manual,diesel,petrol,individual,dealer,first_owner,kilometers
0,2007,0,1,0,1,1,0,1,70000
1,2007,0,1,0,1,1,0,1,50000
2,2012,0,1,1,0,1,0,1,100000
3,2017,0,1,0,1,1,0,1,46000
4,2014,0,1,1,0,1,0,0,141000

In [89]:
df_x=df_final
df_y=df['selling_price']

In [90]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.metrics import r2_score
from sklearn import metrics


X_train, X_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.3, random_state=1) 
regr = linear_model.LinearRegression()
regr.fit(X_train, y_train)

LinearRegression()

In [91]:
y_pred=regr.predict(X_test)

In [92]:
#rmse
print(np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

435727.53404351947

In [93]:
#r-square
r2_score(y_test,y_pred)

0.4573676483011443